@model FootballManager.Models.Game

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Game</h4>
<br />
    @Html.Raw(TempData["errorImpossible"])
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @* <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="GameDate" class="control-label"></label>
                <input asp-for="GameDate" class="form-control" />
                <span asp-validation-for="GameDate" class="text-danger"></span>
            </div>
            <div class="form-group dropdown">
                Team Auswahl 1: <br />
                <select asp-for="Team1.Name" name="Team1.Name">
                    @foreach (var item in FootballManager.Controllers.TeamController.teamListe)
                    {
                        <option value="@item.Name">@item.Name</option>
                    }
                </select>
            </div>
            <div class="form-group dropdown">
                Team Auswahl 2: <br />
                <select asp-for="Team2.Name" name="Team2.Name">
                    @foreach (var item in FootballManager.Controllers.TeamController.teamListe)
                    {
                        <option value="@item.Name">@item.Name</option>
                    }
                </select>
            </div>
            
            <div class="form-group">
                <label asp-for="GoalsTeam1" class="control-label"></label>
                <input asp-for="GoalsTeam1" class="form-control" />
                <span asp-validation-for="GoalsTeam1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GoalsTeam2" class="control-label"></label>
                <input asp-for="GoalsTeam2" class="form-control" />
                <span asp-validation-for="GoalsTeam2" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="Team1.ImagePath" class="control-label"></label>
                <input asp-for="Team1.ImagePath" class="form-control" />
                <span asp-validation-for="Team1.ImagePath" class="text-danger"></span>
            </div>*@
            @*<div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

